@font-face {
  font-family: 'Gilroy Black';
  src: url('@/assets/fonts/Gilroy-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('@/assets/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: 'Gilroy Black', sans-serif;
}
.light-font {
  font-family: 'Gilroy Light', sans-serif;
}
